body {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 80%;
    margin: auto;
}


.battons {
    
    width: 10%;
    height: 700px;
    background: red;
    color: white;
}

select {
    font-size: 20px;
  }







.btn-baton {
    width: 100px;
    height: 50px;
    background-color: #ccc;
    color: #000;
    border: 1px solid #999;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}
  
.btn-baton:hover, .btn-rejouer:hover {
    background-color: #ddd;
}

.btn-baton:active, .btn-rejouer:active {
    background-color: #bbb;
}
.btn-baton:focus, .btn-rejouer:focus {
    outline: 2px solid #000;
}
  